$primary-color: #253b5c;
$secondary-color: #6c303a;
$seocondary-button-color: #4a79c1;
$icon-primary: #b94b5e;
$icon-secondary: #436fb0;
$hero-name-primary: #4d7cc4;
$hero-name-secondary: #c9576a;
$hero-view-work-button-primary: #436fb0;
$hero-view-work-button-secondary: #b94b5e;