* {
   padding: 0;
   margin: 0;
}

body {
   display: flex;
   background-color: rgb(27, 29, 48);
   color: aliceblue;
   height: 100vh;
   width: 100vw;
   align-items: center;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
}

#card {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   text-align: center;
   padding: 2rem;
   width: 20rem;
   background-color: rgb(2, 12, 46);
   border-radius: 1rem;
   position: relative;
}

@property --angle {
   syntax: "<angle>";
   initial-value: 0deg;
   inherits: false;
}

#card::after,
#card:before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   /* background-image: conic-gradient(red, blue); */
   background-image: conic-gradient(from var(--angle), transparent 80%, blue);
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   z-index: -1;
   padding: 3px;
   border-radius: 1rem;
   animation: 3s spin linear infinite;
}
/* glow */
#card::before {
   filter: blur(1.5rem);
   opacity: 0.5;
}

@keyframes spin {
   from {
      --angle: 0deg;
   }
   to {
      --angle: 360deg;
   }
}
