footer {
   background-color: rgba(0, 0, 0, 0.2);
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-content: center;
   align-items: center;
   text-align: center;
   line-height: 1cm;
   gap: 20px;
   color: white;
   font-size: 1rem;
   letter-spacing: 1px;
   font-weight: 300;

   h1 {
      font-size: 2.5em;
      font-weight: 700;
      line-height: 1.5cm;
      margin-bottom: 0;
   }

   p {
      max-width: 50vw;
   }

   ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      li {
         display: flex;
         margin: 20px;
         background-color: rgba(255, 255, 255, 0.07);
         border-radius: 50px;
         transition: background-color 0.3s ease;
         margin-block: 20px;
         justify-content: center;
         flex-grow: 1;

         &:hover {
            background-color: rgba(255, 255, 255, 0.15);
         }

         a {
            color: white;
            padding-block: 0.5rem;
            padding-inline: 1.7rem;
            border-radius: 30px;

            i {
               padding-right: 1rem;
            }
         }
      }
   }
}

.copy-right {
   color: grey;
   margin-block: 2rem;
}
