@use "../abstracts/" as *;

.tools {
   filter: brightness(0) invert(1) sepia(1) hue-rotate(200deg);
   height: 3rem;
   margin-inline: 100px;
   opacity: 70%;
}

.marquee {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;

   ul {
      width: 100%;
      max-width: 1532px;
      margin-inline: auto;
      position: relative;
      height: 100px;
      overflow: hidden;
      mask-image: linear-gradient(
         to right,
         rgba(0, 0, 0, 0),
         rgba(0, 0, 0, 1) 20%,
         rgba(0, 0, 0, 1) 80%,
         rgba(0, 0, 0, 0)
      );

      li {
         position: absolute;
         width: 70rem;
         left: max(calc(200px * #{$marquee-max-icon}), 100%);
         animation-name: scrollLeft;
         animation-duration: 40s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;
         animation-delay: calc(
            40s / #{$marquee-max-icon} * (
                  #{$marquee-max-icon} - (var(--item-index, 1))
               ) * -1
         );
      }

      @for $icon from 1 through $marquee-max-icon {
         li:nth-child(#{$icon}) {
            --item-index: #{$icon};
         }
      }
   }

   p {
      margin-top: 20px;
      text-align: center;
      color: grey;
      align-self: center;
   }
}

@keyframes scrollLeft {
   to {
      left: -200px;
   }
}
